<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Fotootof.Settings.Sections" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Fotootof.Settings.Controls" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="Fotootof.Settings.Properties.Controls" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Fotootof.Settings.Sections" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Fotootof.Settings.Controls" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Fotootof.Settings.Sections>
            <setting name="ServerLayout_ShowAllAlbums" serializeAs="String">
                <value>False</value>
            </setting>
        </Fotootof.Settings.Sections>
        <Fotootof.Settings.Controls>
            <setting name="MainMenuMenuItemDisplayLogsIsChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainWindowRowGridLogs" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="ShowFrameLogs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowFrameInfos" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTooltipBrowser" serializeAs="String">
                <value>True</value>
            </setting>
        </Fotootof.Settings.Controls>
        <Fotootof.Settings.Properties.Controls>
            <setting name="MainMenuMenuItemDisplayLogsIsChecked" serializeAs="String">
                <value>True</value>
            </setting>
        </Fotootof.Settings.Properties.Controls>
    </userSettings>
    <applicationSettings>
        <Fotootof.Settings.Sections>
            <setting name="ServerLayout_ShowAllAlbumsDefault" serializeAs="String">
                <value>False</value>
            </setting>
        </Fotootof.Settings.Sections>
        <Fotootof.Settings.Controls>
            <setting name="MainWindowRowGridLogsDefault" serializeAs="String">
                <value>250</value>
            </setting>
            <setting name="MainMenuMenuItemDisplayLogsIsCheckedDefault" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowFrameLogsDefault" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowFrameInfosDefault" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowTooltipBrowserDefault" serializeAs="String">
                <value>False</value>
            </setting>
        </Fotootof.Settings.Controls>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/></startup></configuration>
